*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    margin: 50px;
    padding-left: 25%;
    
   
}
.left{
    background:#FB0409 ;
    color:white;
    text-align: center;
}
.right_upper{
    display: flex;
    text-align: center;
    color: #fb0409;
    align-items: center;
}
.form{
    margin: 30px;
}
input{
    border: none;
    background: rgb(209, 207, 207);
    padding: 5px;
    margin: 10px;
}
button{
    margin-top: 30px;
    padding: 10px 20px;
    background: #FB0409;
    border-radius:5px ;
    color: white;
}